# Folders that Git should ignore

/bin
/cache
/data
/docs
/models
/out
/personal
/visualization

# Python stuff
*.ipynb_checkpoints/
*.mypy_cache/

# File extensions that Git should ignore

# vim #
#######
*.swp

# tex #
#######
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

# images #
##########
*.pdf
*.png

# data files #
##############
*.xls
*.pkl
*.npy
*.Rdata
*.Rds

# Python #
##########
*.pyc

